/* GOOGLE FONTS */
/* @import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900');
@import url("https://use.typekit.net/dmf5nmt.css");
@import url("https://use.typekit.net/dmf5nmt.css"); */



/* VARIABLES */
html {
    --color-body: #ffffff;
    --space-unit: 0em;
}

/* GLOBALS */
* {
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    /* background-image: url("img/bg-organic.png"); */
    background-size: 100%;
    color: #212121;
    margin: 0;
    font-family: avenir;
    font-weight: 300;
}

h1 {
    font-size: 1.7em;
    font-weight: 800;
    font-family: hoefler serif;
    font-style: normal;
}

h2 {
    font-family: hoefler;
    font-size: clamp(0.3em, 7svw, 3em);
}
h3 {

    font-family: sans-serif;
}

.site-footer h4 {
    color: rgb(38, 38, 38);
}



h4 {
    font-family: avenir;
    color: rgb(49, 49, 49);
}

h5 {
    font-family: avenir;
    color: rgb(49, 49, 49);
}

h6 {
    font-weight: 500;
}

p {
    max-width: 33em;
    line-height: 1.5;
    font-family: avenir Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #3e3e3e;
}

ul.mockups {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.mockups li {
    margin: 1em 0 0 0;
    padding: 0;
}

li {
    list-style: none;
}

section {
    padding-bottom: 6em;
}

.title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1em;
    font-size: clamp(1em, 8vw, 3em);
    font-family: Histeagin;
}

.line {
    width: 3em;
    height: 1px;
    background-color: #000;
    margin-right: 1em;
}

.title-right {
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.title-right .line {
    margin-right: 0;
    margin-left: 1em;
}
.align-right {
    text-align: right;
}

.align-right p{
    margin-left: auto;
}

.visuallyhidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}


.btn {
    display: inline-block;
    padding: .5em 1.5em;
    transition: all .3s ease-in;
}

.btn:hover,
.btn:focus {
    transform: translate(0px, -2px);
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-out;
}

.project-btn {
    margin: 4em 2em 0 2em;
    display: flex;
    justify-content: space-between;

}

.project-btn .container {
    justify-content: space-between;
    width: 1000px;
    display: flex;
}


.project-btn .btn {
    padding: .5em;
    margin: 0;
    white-space: nowrap;
}

.project-btn .btn:last-child img {
    margin-left: auto;
}

.project-btn img {
    max-width: 100px;
    height: auto;
    display: block;
    padding-bottom: .5em;
}



/* CONTAINER */
.container {
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 2em;
}

.container-sub {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2em;
    /* display: flex; */
}

/* GLOBAL MEDIA */

img,
video {
    max-width: 100%;
    height: auto;
}

@media(min-width: 576px) {
    h1 {
        font-size: 2em;
    }
}

@media(min-width: 768px) {
    .wrapper {
        display: flex;
    }
}

@media(min-width: 992px) {

    .title-left {
        margin-left: -2.5em;
    }

    .title-right {
        margin-right: -2.5em;
    }

    .line {
        width: 5.5em;
    }
}

@media(min-width: 1200px) {
    h1 {
        font-size: 2.4em;
    }

}

.centered {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    justify-content: center;
    display: flex;
    padding-top: 3em;
}

.hero-img {
    /* padding-bottom: 50em; */
}


/* SITE HEADER */

.site-header {
    display: flex;
    justify-content: space-between;
    font-family: hoefler;
    /* background-color: #ffc4c491; */
}

/* LOGO */

.site-logo {
    padding: 1em;
    font-size: 1.5em;
    font-weight: 700;
}

/* SITE NAV */

.site-nav ul,
.site-nav li {
    margin: 0;
    position: relative;
    list-style: none;
    font-size: 1.2em;
}

.site-nav ul {
    display: flex;
}

.site-nav a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-family: avenir;
    font-weight: 400;
}

/* HERO */

.hero {
    padding: var(--space-unit) 0;
    align-content: center;
    padding-top: 10em;
    padding-bottom: 10em;
}

.heromain {
    display: grid;
    justify-content: left;
    margin-left: 3em;
    align-content: center;
}

.heromain-sub {
    /* display: grid;
    justify-content: center;
    align-content: center; */
    /* place-items: center; */
}

.hero h1 {
    font-size: clamp(2em, 10vw, 6em);
    margin-top: 1em;
    margin-bottom: 0;
    line-height: .8;
    font-family: hoefler;
    color: #383838;
    justify-content: left;
}

.hero h2 {
    font-size: clamp(2em, 10vw, 6em);
    margin-bottom: 0;
    margin-top: 0;
    color: #383838;
    font-family: hoefler;
}

.hero h3 {
    font-size: 5vw;
    font-size: clamp(4em, 13vw, 8em);
    margin-bottom: 0;
    margin-top: 0.5em;
    color: #252525;
    font-family: hoefler;
    /* padding-top: 0.4em; */
    justify-content: center;
}

.hero h5 {
    font-size: clamp(0.7em, 3vw, 1em);
    /* margin-bottom: 0;
    margin-top: 0; */
}

.heromain-sub .row {
    align-items: center;
}

.herosub {
    display: grid;
}

.heromain p,
.herosub p {
    font-family: avenir;
    color: #292929;
    font-size: 1vw;
    font-size: clamp(0.8em, 1.5vw, 2em);
    margin-top: 0;
}

.herosub-sub p {
    color: #1c1c1c;
    font-size: 1vw;
    font-size: clamp(1em, 2vw, 1.2em);
    padding-bottom: 7em;
    /* width: 100%; */
}

.heromain-sub .row .mini-info {
    width: 10em;
}


.hanging {
    hanging-punctuation: first;
}

/* MAIN */
main {
    padding-bottom: 6em;
}

/* FOOTER */

.site-footer {
    background-color: #fff8f8;
    padding: 3em var(--space-unit);
}

/* GRID SYSTEM */
.row {
    --gridgap: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

@media (min-width: 768px) {
    .row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gridgap);
    }

    .row.vertical-centered {
        align-items: center;
    }

    .row.swapped>*:first-child {
        order: 2;
    }

    .row.swapped>*:last-child {
        order: 1;
    }

    .one-whole {
        grid-column: span 12 / span 12;
    }

    .one-half {
        grid-column: span 6 / span 6;
    }

    .one-third {
        grid-column: span 4 / span 4;
    }

    .two-thirds {
        grid-column: span 8 / span 8;
    }

    .one-fourth {
        grid-column: span 3 / span 3;
    }

    .three-fourth {
        grid-column: span 9 / span 9;
    }

    .one-half.centered {
        grid-column-start: 4;
    }

    .one-third.centered {
        grid-column-start: 5;
    }

    .two-thirds.centered {
        grid-column-start: 3;
    }
}

/* Initital 12 Column Set-up  */
.row>.cols-1 {
    grid-column: auto / span 1;
}

.row>.cols-2 {
    grid-column: auto / span 2;
}

.row>.cols-3 {
    grid-column: auto / span 3;
}

.row>.cols-4 {
    grid-column: auto / span 4;
}

.row>.cols-5 {
    grid-column: auto / span 5;
}

.row>.cols-6 {
    grid-column: auto / span 6;
}

.row>.cols-7 {
    grid-column: auto / span 7;
}

.row>.cols-8 {
    grid-column: auto / span 8;
}

.row>.cols-9 {
    grid-column: auto / span 9;
}

.row>.cols-10 {
    grid-column: auto / span 10;
}

.row>.cols-11 {
    grid-column: auto / span 11;
}

.row>.cols-12 {
    grid-column: auto / span 12;
}

/* Centered Helper Class for Even-width Columns Only  */
.row>.cols-2.centered {
    grid-column-start: 6;
}

.row>.cols-4.centered {
    grid-column-start: 5;
}

.row>.cols-6.centered {
    grid-column-start: 4;
}

.row>.cols-8.centered {
    grid-column-start: 3;
}

.row>.cols-10.centered {
    grid-column-start: 2;
}

/* Push Helper Classes for all Columns  */
.row>.pushed-1 {
    grid-column-start: 2;
}

.row>.pushed-2 {
    grid-column-start: 3;
}

.row>.pushed-3 {
    grid-column-start: 4;
}

.row>.pushed-4 {
    grid-column-start: 5;
}

.row>.pushed-5 {
    grid-column-start: 6;
}

.row>.pushed-6 {
    grid-column-start: 7;
}

.row>.pushed-7 {
    grid-column-start: 8;
}

.row>.pushed-8 {
    grid-column-start: 9;
}

.row>.pushed-9 {
    grid-column-start: 10;
}

.row>.pushed-10 {
    grid-column-start: 11;
}

.row>.pushed-11 {
    grid-column-start: 12;
}

/* PROJECT LIST */
.project-list,
.project-list li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.project-list {
    padding: var(--space-unit) var(--space-unit) var(--space-unit);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.project-list li:nth-child(1) {
    /* border: 10px solid red; */
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}

.project-list li:nth-child(2) {
    /* border: 10px solid red; */
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 5;
}

.project-list li:nth-child(3) {
    /* border: 10px solid red; */
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 8;
}

.project-list li:nth-child(4) {
    /* border: 10px solid red; */
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 7;
    grid-row-end: 10;
}

.project-list li:nth-child(5) {
    /* border: 10px solid red; */
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 12;
}

/* ZOOM HOVER

.zoom-hover {
    margin: 0;
    padding: 0;
    list-style: none;
}

.zoom-hover li {
    margin: 0;
    padding: 0;
    background: #1d1d1d;
    display: inline-block;
    margin: 10px;
    max-width: 280px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    color: #efefef;
}

.zoom-hover li * {
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}


.zoom-hover li img {
    max-width: 100%;
    vertical-align: top;
}

.zoom-hover li .caption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    padding: 0 0px 10px 15px;
}

.zoom-hover li a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.zoom-hover li:hover img,
.zoom-hover li.hover img {
    -webkit-transform: scale(1.3) rotate(-3deg);
    transform: scale(1.3) rotate(-3deg);
} */


/* Contact Section  */
#contact .wrapper {
    flex-wrap: wrap;
}

.form-wrapper,
.contact-wrapper {
    flex: 1 0 50%;
    align-self: center;
    padding: 0 1em;
}

.copy-wrapper {
    flex: 1 0 100%;
    padding: 0 1em;
}

.form-wrapper:after,
.contact-wrapper:after {
    display: none;
}

.contact-footer {
    border: 0;
    padding: 0;
    margin: .6em 0;
    text-align: left;
}

.contact-footer:hover {
    background-color: transparent;
}

/* .contact-wrapper a.contact-footer:hover i {} */

.contact-wrapper a {
    margin-right: 2em;
}

.contact-wrapper a i {
    padding-right: 1em;
}

.contact-wrapper .social-menu {
    display: flex;
    order: 3;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

.contact-wrapper .social-menu a {
    margin-right: 0;
}

.copy-wrapper:before {
    display: block;
    content: "";
    margin: 2em auto;
    border-bottom: solid 1px #dadada;
}




.projects {
    --base-grid: 8px;
    --colour-background: rgb(255, 255, 255);
    --colour-background-undercard: rgb(255, 255, 255);
    --colour-background-folded: rgb(240, 240, 240);
    --colour-background-stripes: rgb(240, 240, 240);
    --colour-text: #343434;
    margin: calc(var(--base-grid)*2) auto calc(var(--base-grid)*5);
    display: grid;
    grid-row-gap: calc(var(--base-grid)*8);
    grid-column-gap: calc(var(--base-grid)*6);
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--base-grid)*35), 1fr));
    justify-items: space-between;
    padding: 0;
}

.projects li {
    cursor: pointer;
    display: block;
    position: relative;
    animation-name: animateIn;
    animation-duration: .35s;
    animation-delay: calc(var(--animation-order)*100ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    margin: 0;
    padding: 0;
}

.projects li:before {
    content: "";
    position: absolute;
    top: calc(var(--base-grid)*-2);
    left: calc(var(--base-grid)*-2);
    border: 2px dashed var(--colour-background);
    background-image: repeating-linear-gradient(-24deg, transparent, transparent 4px, var(--colour-background-stripes) 0, var(--colour-background-stripes) 5px);
    z-index: -1;
}

.projects li,
.projects li:before {
    /* width: calc(var(--base-grid)*35);
    height: calc(var(--base-grid)*35); */
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}

.projects a {
    background-color: var(--colour-background-undercard);
    border: 2px solid var(--colour-background);
    display: block;
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

/* .projects a:after {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(var(--base-grid)*3);
    width: calc(var(--base-grid)*2);
    height: calc(var(--base-grid)*2);
    margin-top: calc(var(--base-grid)*-1);
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
    -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
    background-color: var(--colour-background);
    opacity: 0;
    transition: opacity .5s ease-in, transform .3s ease-in-out 0ms;
} */

.project-content {
    /* background-color: var(--colour-background); */
    color: var(--colour-text);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: calc(var(--base-grid)*2);
    display: flex;
    flex-direction: column;
    border: 2px solid var(--colour-background);
}

.project-content-left {
    clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
}

.project-content-right {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    transition: transform .5s ease-in-out, background-color .4s ease-in-out;
}

.project-title {
    font-size: calc(var(--base-grid)*3);
    line-height: 1.125;
    font-weight: 700;
    letter-spacing: -.02em;
}

.project-footer {
    margin-top: auto;
    font-size: calc(var(--base-grid)*2);
    line-height: calc(var(--base-grid)*2);
    display: flex;
    justify-content: space-between;
}

.projects a:hover .project-content-right {
    background-color: var(--colour-background-folded);
    transform: rotateY(-50deg);
}

.projects a:hover:after {
    opacity: 1;
    transform: translateX(calc(var(--base-grid)*1.5));
    transition: opacity .5s ease-in, transform .3s ease-in-out .25s;
}

/* SIDEWAYS TEXT */
.sideways-text {
    --sideways-text-size: calc(8vw + 8vh);
}

.sideways-text .sideways-text-innerwrapper {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(-90deg);
    opacity: .05;
}

.sideways-text p {
    font-size: var(--sideways-text-size);
    line-height: 1;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.sideways-text p+p {
    margin-left: calc(-6vw + -6vh);
}

/* SUBPAGE STYLING */

.mockups-img {
    margin: 0;
    padding: 0;
}

.mockups-img li {
    margin-bottom: 1em;
    margin-top: 1em;
}



/* SUBPAGE-IMAGEGRID */

img {
    max-width: 100%;
    height: auto;
}

.home-grid {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 1em;
    grid-template-columns: 7fr 5fr;
    grid-template-rows: 3fr 1fr 2fr 2fr 1fr 3fr;
}

.home-grid li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.home-grid li:nth-child(1) {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}

.home-grid li:nth-child(2) {
    grid-row: 4 / 8;
    grid-column: 1 / 2;
}

.home-grid li:nth-child(3) {
    grid-row: 8 / 12;
    grid-column: 1 / 2;
}

.home-grid li:nth-child(4) {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.home-grid li:nth-child(5) {
    grid-row: 3 / 6;
    grid-column: 2 / 3;
}

.home-grid li:nth-child(6) {
    grid-row: 6 / 9;
    grid-column: 2 / 3;
}

.home-grid li:nth-child(7) {
    grid-row: 9 / 12;
    grid-column: 2 / 3;
}

.home-grid img {
    max-width: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-right {
    margin-top: 3em;
}

/* SWIPER SECTION */

.swiper-slide {
    padding: 0 6em 3em 6em;
    /* border: 1px solid green; */
}

.sketch-swiper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.swiper-button-prev,
.swiper-button-next {
    color: rgba(0, 0, 0, 0.75);
}

/* .swiper-button-prev {
    left: -20px;
} */

/* .swiper-button-prev {
    margin-left: -10px;
} */

/* .swiper-button-next {
    margin-right: -10px;
} */

html .swiper-navigation-size {
    width: calc(35/ 44 * 27);
    height: 35;
    margin-top: calc(0px - (35/ 2));
}


.swiper-pagination-bullet-active {
    background-color: #000;
}


/* SCROLLDOWN */

.scrolldown {
    --sizeX: 200px;
    --sizeY: 200px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: var(sizeX / 2);
    margin-top: 10em;
    margin-bottom: 10em;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.rotating-image {
    /* position: absolute;
    top: 0;
    left: 8px; */
    z-index: 2;
    animation: spin 10s infinite linear;
    grid-column: 1;
    grid-row: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.scrolldown-arrow {
    width: 20px;
    height: 30px;
    background-color: #000;
    grid-column: 1;
    grid-row: 1;
    clip-path: polygon(100% 0%, 50% 100%, 1% 0%, 50% 15%);
    animation: bounce 2s infinite both;
    transform: translateY(-50%);
}

@keyframes bounce {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-50%);
    }
}
